@media screen and (max-width: 1200px)
  .providers-page
    &__header
      padding: 0 15px 30px
    &__content
      padding: 0 15px 80px
    &__list
      &-item
        width: 23.4%

@media screen and (max-width: 1023px)
  .providers-page
    &__header
      padding: 0 15px 20px
      .page-title
        font-size: 36px
        line-height: 40px
    &__filter
      padding-right: 43px
      &-btns
        height: 36px
        right: 43px
      &-item
        padding: 10px 16px 7px
      .filter-icon
        &:before
          width: 15px
          height: 15px
          margin: -1px 7px 0 0
      &-search
        height: 36px
        .search-btn
          width: 36px
          height: 36px
          &:before
            width: 13px
            height: 13px
    &__list
      &-item
        width: 31.4%
        margin-right: 20px
        &:nth-child(4n)
          margin-right: 20px
        &:nth-child(3n)
          margin-right: 0

@media screen and (max-width: 767px)
  .providers-page
    &__header
      .page-title
        font-size: 24px
        line-height: 32px
    &__content
      padding-bottom: 50px
    &__filter
      padding-right: 0
      margin-right: -15px
      &-wrap
        width: 100%
      &-btns
        display: none
      &-search
        display: none
    &__list
      &-img
        width: 60px
        height: 60px
      &-name
        margin-top: 20px
        text-align: center
        font-size: 16px
        line-height: 17px
      &-wrap
        margin-top: 18px
        height: 40px
        .btn
          span
            display: none
      &-info
        span
          display: none
      &-item
        width: 48.3%
        height: 220px
        padding: 10px 15px
        margin: 0 10px 10px 0
        &:nth-child(4n)
          margin-right: 10px
        &:nth-child(3n)
          margin-right: 10px
        &:nth-child(even)
          margin-right: 0
    &__more
      font-size: 14px
      padding-top: 1px
      &-btn
        &:before
          margin: 0 10px 0 0

@media screen and (max-width: 374px)
  .providers-page
    .breadcrumbs
      padding: 20px 0 13px
    &__list
      &-item
        width: 47.9%
        height: 180px
      &-img
        width: 50px
        height: 50px
      &-name
        margin-top: 15px
      &-wrap
        margin-top: 15px
        height: 35px
      &-info,
      .green-btn
        font-size: 12px
        line-height: 14px