.providers-page
  .providers-page__header
    .content-center
      ul.breadcrumbs
        li
          a(href="#") Home Page
        li Providers
      h1.page-title Software Providers
  .providers-page__content
    .content-center
      .providers-page__filter
        .providers-page__filter-btns
          .left-btn
          .right-btn
        .providers-page__filter-wrap
          ul.providers-page__filter-list
            li.providers-page__filter-item.border-btn.active All
            li.providers-page__filter-item.border-btn.filter-icon.filter-new New
            li.providers-page__filter-item.border-btn.filter-icon.filter-jackpot With jackpot
            li.providers-page__filter-item.border-btn Demo
            li.providers-page__filter-item.border-btn Old
            li.providers-page__filter-item.border-btn Classic
            li.providers-page__filter-item.border-btn 20 lines
            li.providers-page__filter-item.border-btn 25 lines
            li.providers-page__filter-item.border-btn 3D slot machines
            li.providers-page__filter-item.border-btn IPhone
            li.providers-page__filter-item.border-btn Pragmatic Play
            li.providers-page__filter-item.border-btn Classic
            li.providers-page__filter-item.border-btn 20 lines
            li.providers-page__filter-item.border-btn 25 lines
        .providers-page__filter-search
          .search-btn
          .close-btn
          form.providers-search
            input(type="search")
            button(type="submit").btn-submit
      ul.providers-page__list
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-1.png" alt="")
          .providers-page__list-name Ainsworth Game
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-2.png" alt="")
          .providers-page__list-name NetEnt
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-3.png" alt="")
          .providers-page__list-name Robcat
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-4.png" alt="")
          .providers-page__list-name Wazdan
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-5.png" alt="")
          .providers-page__list-name Microgaming
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-6.png" alt="")
          .providers-page__list-name Quickspin
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-7.png" alt="")
          .providers-page__list-name PariPlay
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-8.png" alt="")
          .providers-page__list-name Play’n Go
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-1.png" alt="")
          .providers-page__list-name Ainsworth Game Tech
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-2.png" alt="")
          .providers-page__list-name NetEnt
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-3.png" alt="")
          .providers-page__list-name Robcat
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-4.png" alt="")
          .providers-page__list-name Wazdan
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-5.png" alt="")
          .providers-page__list-name Microgaming
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-6.png" alt="")
          .providers-page__list-name Quickspin
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-7.png" alt="")
          .providers-page__list-name PariPlay
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-8.png" alt="")
          .providers-page__list-name Play’n Go
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-1.png" alt="")
          .providers-page__list-name Ainsworth Game Tech
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-2.png" alt="")
          .providers-page__list-name NetEnt
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-3.png" alt="")
          .providers-page__list-name Robcat
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-4.png" alt="")
          .providers-page__list-name Wazdan
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-5.png" alt="")
          .providers-page__list-name Microgaming
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-6.png" alt="")
          .providers-page__list-name Quickspin
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-7.png" alt="")
          .providers-page__list-name PariPlay
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
        li.providers-page__list-item
          .providers-page__list-img
            img(src="img/providers-list-8.png" alt="")
          .providers-page__list-name Play’n Go
          .providers-page__list-wrap
            a(href="#").btn.green-btn Review #[span Provider]
            .providers-page__list-info 35 Casino #[span with Skrill]
      .providers-page__all
        ul.providers-page__list
          li.providers-page__list-item
            .providers-page__list-img
              img(src="img/providers-list-1.png" alt="")
            .providers-page__list-name Ainsworth Game Tech
            .providers-page__list-wrap
              a(href="#").btn.green-btn Review #[span Provider]
              .providers-page__list-info 35 Casino #[span with Skrill]
          li.providers-page__list-item
            .providers-page__list-img
              img(src="img/providers-list-2.png" alt="")
            .providers-page__list-name NetEnt
            .providers-page__list-wrap
              a(href="#").btn.green-btn Review #[span Provider]
              .providers-page__list-info 35 Casino #[span with Skrill]
          li.providers-page__list-item
            .providers-page__list-img
              img(src="img/providers-list-3.png" alt="")
            .providers-page__list-name Robcat
            .providers-page__list-wrap
              a(href="#").btn.green-btn Review #[span Provider]
              .providers-page__list-info 35 Casino #[span with Skrill]
          li.providers-page__list-item
            .providers-page__list-img
              img(src="img/providers-list-4.png" alt="")
            .providers-page__list-name Wazdan
            .providers-page__list-wrap
              a(href="#").btn.green-btn Review #[span Provider]
              .providers-page__list-info 35 Casino #[span with Skrill]
      .providers-page__more.green-btn
        .providers-page__more-btn Show All (#[span.amount 14])